body {
  background-color: #FBF3D5;
}
.container-fluid {
  background-color: #EFBC9B;
  height: 5rem;
  font-size: 2rem;
  color: white;
}

.navbar-brand {
  font-size: 2rem;
  color: white;
}
.main {
  border: 2px solid black;
  height: 15rem;
  margin-top: 10rem;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 1rem;
  background-color: #9CAFAA;
}
.name {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
}
.amount{
  display: flex;
  justify-content: center;
  color: black;
}
.grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;
  
}
.amountTop{
  padding-right: 1rem;
  font-size: large;
  margin-top: 0.7rem;
}
#amInput {
  width: 80%;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
}

#fromInput {
  width: 90%;
  border-radius: 0.5rem;
  
}

.fromTop{
  color: black;
  font-size: large;
}
.toTop{
  color: black;
  font-size: large;
}

#toInput {
  width: 90%;
  border-radius: 0.5rem;
}

.swap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 2px solid black;
  background-color: white;
}

.submit {
  display: flex;
  justify-content: center;
  
  padding-top: 1rem;
}

.message {
  padding-left: 10%;
  color: black;
}

.fromTop, .toTop{
  font-size: large;
}
